@model WebBlog.Models.Post
@using WebBlog.Enums
@{
    ViewData["Title"] = "Create";
}

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

<h1>Create a Post</h1>

<h4>New Post</h4>
<hr />
<div class="row md-flex">
    <div class="col mb-3">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BlogId" class="control-label"></label>
                <select asp-for="BlogId" class="form-select" asp-items="ViewBag.BlogId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <textarea asp-for="Abstract" class="form-control"></textarea>
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input type="file" asp-for="Image" class="form-control-file">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>*@

            <div class="form-group mb-3">
                <label asp-for="Image" for="formFile" class="form-label">Choose your Image</label>
                <input class="form-control" type="file" asp-for="Image" />
                @*To let user know there's a wrong type of file/size provided*@
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            @*===== This will be reserved for the new Tags section ======*@
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Manage Tags</label>
                    </div>
                </div>

                <div class="row">
                    @*Col 1: Input and the two buttons*@
                    <div class="col">
                        <div class="row mb-2">
                            <div class="col">
                                <input id="tagEntry" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row gap-2">
                            <div class="col">
                                <button type="button" onclick="AddTag()" class="btn btn-sm btn-dark w-100">Add</button>
                            </div>
                            <div class="col">
                                <button type="button" onclick="DeleteTag()" class="btn btn-sm btn-dark w-100">Delete</button>
                            </div>
                        </div>
                    </div>

                    @*col 2: Select Elements*@

                    <div class="col">
                        <select class="form-select" size="3" name="TagValues" id="TagList" multiple aria-label="multiple select example"></select>
                    </div>
                </div>
            </div>

            @*===== This will be revserved for the new Ready Status ======*@
            <div class="form-group">
                <label asp-for="ReadyStatus" class="control-label"></label>
                <select asp-for="ReadyStatus" asp-items="@Html.GetEnumSelectList<ReadyStatus>()" class="form-select"></select>
                <span asp-validation-for="ReadyStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-sm btn-dark w-100">create</button>
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <script>

        let TagValues = '@ViewData["TagValues"]'

        $(document).ready(function () {
            $('#Content').summernote(
                {
                    height: 300
                });
        });
    </script>
}

@*===== Tags section.. =====*@
<script>

    let index = 0;

    function AddTag() {
        // Get a reference to a tag input
        let tagEntry = document.getElementById("tagEntry");

        // Create an option based on the tag text using the tagEntry
        let newTag = new Option(tagEntry.value, tagEntry.value);

        // Add the new Option to the TagList
        document.getElementById("TagList").options[index++] = newTag;

        // clears out the tag text to make way for the next tag
        tagEntry.value = "";
        return true;
    }

    function DeleteTag() {
        //
        let tagList = document.getElementById("TagList");

        if (!tagList) return false;

        // Make sure that one of the entry is selected
        if (tagList.selectedIndex == -1) {
            alert("Choose a tag before pressing delete!")

            return true;
        }

        // Delete the selected Tag
        if (tagList.selectedIndex >= 0) {

            //TODO: delete all tags that are selected
            tagList.options[tagList.selectedIndex] = null;
        }
        return true;
    }

    // Submit Event fires off event --> Do something so that the options are selected when the form submits
    $("form").on("submit", function () {

        // select all of the options
        $("#TagList option").prop("selected", "selected");

    });
</script>